body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-field {
    display: flex;
    width: 95vmin;
    height: 95vmin;
    margin-right: 1vmin;
    margin-left: 5vmin;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    flex-direction: column;
}

.board-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    font-size: 5.5vmin;
    align-items: center;
}

.new-game-btn {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40; 
    font-size: 2vmin;
    height: 7.4vmin;
    width: 15vmin;
    transition: all 0.3s ease-out;
}

.new-game-btn:hover {
  background: #464e55;
}

.end-turn-btn {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    font-size: 2vmin;
    height: 7.4vmin;
    width: 15vmin;
    transition: all 0.3s ease-out;
}

.end-turn-btn:hover {
  background: #464e55;
}

.board {
    justify-content: center;
    background: black;
    width: 85vmin;
    height: 85vmin;
    border: 0.6vmin solid black;
    margin: 0 auto;

}

.cell {
    background: #9a7b4f;
    border: 0.3vmin solid black;
    height: 10.625vmin;
    width: 10.625vmin;
    float: left;
    padding: 0px;
    font-size: 5px;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.cell img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.cell:focus {
    outline: none;
}

.kbd-navigation .cell:focus {
    background: #ddd;
}

.game-info {
    overflow: auto;
    position: relative; 
    width: 32.2vmin;
    height: 85vmin;
}

.box {
    margin: 0;
    background: rgba(255,255,255,0.2);
    padding: 2.5vmin;
    text-align: center;
}

.tutorial {
    margin: 0;
    color: white;
    background-color: #343a40;
    border-color: #343a40;
    font-size: 2vmin;
    font-family: Arial;
    height: 4vmin;
    width: 30vmin;
    padding: 1.5vmin;
    text-decoration: none;
    transition: all 0.3s ease-out;
}

.tutorial:hover {
    background: #464e55;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.instructions {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    height: 80vmin;
    width: 80vmin;
    position: relative;
    transition: all 500ms;
    align-items: center;
}

.instructions .close {
    position: absolute;
    top: 1vmin;
    right: 2vmin;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #343a40;
}

.close:hover {
    color: #06D85F;
}

.images {
    height: 78vmin;
    width: 78vmin;
    margin: auto;
    display: block;
}

.history-turns {
    margin-top: 30px;
}

.turns-btns-gold {
    margin: 0;
    color: black;
    background-color: #FFD700;
    border-color: #343a40;
    font-size: 2vmin;
    font-weight: bold;
    font-style: italic;
    height: 4vmin;
    width: 30vmin;
    transition: all 0.3s ease-out;
}

.turns-btns-gold:hover {
    background: #e2c103;
}

.turns-btns-silver {
    margin: 0;
    color: black;
    background-color: #A9A9A9;
    border-color: #343a40;
    font-size: 2vmin;
    font-weight: bold;
    font-style: italic;
    height: 4vmin;
    width: 30vmin;
    transition: all 0.3s ease-out;
}

.turns-btns-silver:hover {
    background: #979797;
}

.moves-btns {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    font-size: 2vmin;
    height: 4vmin;
    width: 6vmin;
    transition: all 0.3s ease-out;
}

.moves-btns:hover {
    background: #464e55;
}

.gold {
    color: gold;
}

.gold-own-selected {
    border: 0.4vmin outset gold;
}

.enemy-gold-selected {
    border: 0.4vmin dashed gold;
}

.silver {
    color: silver;
}

.silver-own-selected {
    border: 0.4vmin outset silver;
}

.enemy-silver-selected {
    border: 0.4vmin dashed silver;
}

.trap {
    background-repeat: no-repeat;
    background-image: url("./components/img/trap.png");
    background-position: center;
    background-size: 80px;
}

.next {
    position: absolute;
    bottom: 2vmin;
    right: 3vmin;
    transition: all 200ms;
    font-size: 3.5vmin;
    font-weight: bold;
    text-decoration: none;
    color: #343a40;
}

.next:hover {
    color: #06D85F;
}

.previous {
    position: absolute;
    bottom: 2vmin;
    left: 3vmin;
    transition: all 200ms;
    font-size: 3.5vmin;
    font-weight: bold;
    text-decoration: none;
    color: #343a40;
}

.previous:hover {
    color: #06D85F;
}
