body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 15px;
}

li {
    margin-bottom: 10px;
}

.new-game-btn {
    margin-right: 15vmin;
    color: #fff;
    background-color: #343a40;
    border-color: #343a40; 
    font-size: 2vmin;
    height: 7.4vmin;
    width: 15vmin;
}

.end-turn-btn {
    margin-left: 15vmin;
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    font-size: 2vmin;
    height: 7.4vmin;
    width: 15vmin;
}

.turns-btns {
    margin: 0;
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    font-size: 2vmin;
    height: 4vmin;
    width: 32vmin;
}


.moves-btns {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    font-size: 1.6vmin;
    height: 4vmin;
    width: 8vmin;
}


.game {
    display: flex;
    justify-content: center;
    align-items: center;
}
.play-field {
    justify-content: center;
    width: 95vmin;
    height: 95vmin;
    margin-top: 0 auto;
    margin-bottom: 0 auto;
    margin-right: 1vmin;
    margin-left: 5vmin;
}

.board-info {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    font-size: 5.5vmin;
}

.board {
    justify-content: center;
    background: black;
    width: 85vmin;
    height: 85vmin;
    border: 0.6vmin solid black;
    margin: 0 auto;

}
.cell {
    background: #9a7b4f;
    border: 0.3vmin solid black;
    height: 10.625vmin;
    width: 10.625vmin;
    float: left;
    padding: 0px;
    font-size: 5px;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.cell img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.cell:focus {
    outline: none;
}

.kbd-navigation .cell:focus {
    background: #ddd;
}

.game-info {
    position: relative;
    margin-top: 7.5vmin;  
    width: 32vmin;
    height: 85vmin;
}




.silver {
    color: silver;
}

.gold {
    color: gold;
}

.trap {
    background-image: url("./components/img/trap.png");
    background-size: 80px;
}

.own-selected {
    border: 3px solid white;
}

.enemy-selected {
    border: 3px dotted white;
}

.history-turns {
    margin-top: 30px;
}

