body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 15px;
}

li {
    margin-bottom: 10px;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
}
.play-field {
    display: flex;
    width: 95vmin;
    height: 95vmin;
    margin-right: 1vmin;
    margin-left: 5vmin;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    flex-direction: column;
}

.board-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    font-size: 5.5vmin;
    align-items: center;
}

.new-game-btn {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40; 
    font-size: 2vmin;
    height: 7.4vmin;
    width: 15vmin;
}

.end-turn-btn {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    font-size: 2vmin;
    height: 7.4vmin;
    width: 15vmin;
}

.board {
    justify-content: center;
    background: black;
    width: 85vmin;
    height: 85vmin;
    border: 0.6vmin solid black;
    margin: 0 auto;

}
.cell {
    background: #9a7b4f;
    border: 0.3vmin solid black;
    height: 10.625vmin;
    width: 10.625vmin;
    float: left;
    padding: 0px;
    font-size: 5px;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.cell img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.cell:focus {
    outline: none;
}

.kbd-navigation .cell:focus {
    background: #ddd;
}

.game-info {
    overflow: auto;
    position: relative;
    margin-top: 7.5vmin;  
    width: 32.2vmin;
    height: 85vmin;
}

.turns-btns-gold {
    margin: 0;
    color: black;
    background-color: #FFD700;
    border-color: #343a40;
    font-size: 2vmin;
    font-weight: bold;
    font-style: italic;
    height: 4vmin;
    width: 30vmin;
}

.turns-btns-silver {
    margin: 0;
    color: black;
    background-color: #A9A9A9;
    border-color: #343a40;
    font-size: 2vmin;
    font-weight: bold;
    font-style: italic;
    height: 4vmin;
    width: 30vmin;
}

.moves-btns {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    font-size: 2vmin;
    height: 4vmin;
    width: 6vmin;
}

.silver {
    color: silver;
}

.gold {
    color: gold;
}

.trap {
    background-image: url("./components/img/trap.png");
    background-size: 80px;
}

.gold-own-selected {
    border: 0.4vmin outset gold;
}

.enemy-gold-selected {
    border: 0.4vmin dotted gold;
}

.silver-own-selected {
    border: 0.4vmin outset silver;
}

.enemy-silver-selected {
    border: 0.4vmin dotted silver;
}

.history-turns {
    margin-top: 30px;
}

